h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}

html {
	font-family: "Inter", sans-serif;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.promo {
	display: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;
}

.promo__title {
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 60px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.promo__subtitle {
	margin-top: 124px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 32px;
	font-weight: 100;
	line-height: normal;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
	background: rgba(217, 217, 217, 0);
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 16px;
	font-weight: 100;
	line-height: normal;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.btn:hover {
	font-weight: 500;
	box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__adress {
	position: relative;
	margin-top: 100px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 16px;
	font-weight: 100;
	line-height: normal;

	address {
		font-style: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	&::before {
		content: "";
		position: absolute;
		margin-left: -45px;
		margin-top: -17px;
		width: 40px;
		height: 49px;
		background: url('../icons/arrow.svg') center center / cover no-repeat;
		display: block;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180.00deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.12) 50%,
			rgba(255, 255, 255, 0.2) 100%);

	li {
		list-style-type: none;
	}

	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 10px;
	font-weight: 100;
	line-height: normal;
}

.about {
	padding-top: 80px;
	color: var(--dark-color, rgba(245, 245, 247, 1));
}

.about__title {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-style: italic;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
}

.about__text {
	width: 1100px;
	color: var(--dark-color, rgba(34, 31, 32, 1));
	margin-top: 20px;
	font-size: 40px;
	font-weight: 400;
	line-height: normal;

	span {
		color: #a5a5a5;
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
}

.services__item-subtitle {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.services__items {
	width: 50%;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		margin-top: 10px;
		position: relative;
		list-style-type: none;
		color: var(--dark-color, rgba(34, 31, 32, 1));
		font-size: 16px;
		font-weight: 400;
		line-height: normal;

		&:first-child::before {
			content: "";
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			background: url(../icons/camera.svg) center center / cover no-repeat;
			left: -30px;
			top: 2px;
		}

		&:nth-child(3)::before {
			content: "";
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			background: url(../icons/edit.svg) center center / cover no-repeat;
			left: -30px;
			top: 2px;
		}
	}
}

.services__text {
	width: 50%;
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.4px;
}

.works {
	padding-top: 80px;
	color: var(--dark-color, rgba(245, 245, 247, 1));
}

.title {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 40px;
	font-weight: 400;
	line-height: normal;
	text-align: center;

	span {
		position: relative;
	}

	span::after {
		content: "";
		display: block;
		position: absolute;
		width: 75px;
		height: 2px;
		bottom: -1px;
		right: 0;
		background-color: #000;
	}
}

.works__grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	row-gap: 50px;
	column-gap: 30px;

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}
}

.inspiration {
	padding-top: 80px;
	background-color: var(--light-color);
}

.inspiration__grid {
	margin-top: 52px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);

	img {
		width: 100%;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}
}

#inspiration__sky {
	grid-column: 2/4;
}

#inspiration__tenement {
	grid-row: 1/3;
	grid-column: 4/5;
}

.customers {
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: var(--light-color);
}

.customers__wrapper {
	margin-top: 50px;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

	img {
		width: calc((100% - 90px) / 4);
		box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
	}
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 88px var(--footer-padding-inline);
	background-color: #000;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.footer_addr {
	font-style: normal;
}

.footer__tel {
	color: var(--light-color, rgba(245, 245, 247, 1));
	text-decoration: none;
}

.footer__social {
	padding-left: 0;
	display: flex;
	column-gap: 30px;
	list-style: none;

	li {
		width: 32px;
		height: 32px;
		border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
		background: rgba(217, 217, 217, 0);
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			img {
				width: 22px;
				height: 22px;
			}
		}
	}
}