h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

:root {
	--light-color: #F5F5F7;
	--dark-color: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;
}

html {
	font-family: "Inter", sans-serif;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.promo {
	display: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;
}

.promo__title {
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 60px;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.promo__subtitle {
	margin-top: 124px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 32px;
	font-weight: 100;
	line-height: normal;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin-top: 20px;
	padding: 3px 10px;
	width: 160px;
	min-height: 38px;
	border: 1px solid var(--light-color, rgba(245, 245, 247, 1));
	background: rgba(217, 217, 217, 0);
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 16px;
	font-weight: 100;
	line-height: normal;
	cursor: pointer;
}

.promo__adress {
	margin-top: 100px;
	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 16px;
	font-weight: 100;
	line-height: normal;

	address {
		font-style: normal;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}

.keywords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(180.00deg,
			rgba(255, 255, 255, 0.04),
			rgba(255, 255, 255, 0.12) 50%,
			rgba(255, 255, 255, 0.2) 100%);

	li {
		list-style-type: none;
	}

	color: var(--light-color, rgba(245, 245, 247, 1));
	font-size: 10px;
	font-weight: 100;
	line-height: normal;
}

.about {
	padding-top: 80px;
	color: var(--dark-color, rgba(245, 245, 247, 1));
}

.about__title {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-style: italic;
	font-size: 12px;
	font-weight: 400;
	line-height: normal;
}

.about__text {
	width: 1100px;
	color: var(--dark-color, rgba(34, 31, 32, 1));
	margin-top: 20px;
	font-size: 40px;
	font-weight: 400;
	line-height: normal;

	span {
		color: #a5a5a5;
	}
}

.services {
	display: flex;
	column-gap: 10px;
	margin-top: 80px;
}

.services__item-subtitle {
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}

.services__items {
	width: 50%;

	ul {
		margin-top: 20px;
		padding: 0;
	}

	li {
		margin-top: 10px;
		list-style-type: none;
		color: var(--Dark, rgba(34, 31, 32, 1));
		font-size: 16px;
		font-weight: 400;
		line-height: normal;
	}
}

.services__text {
	width: 50%;
	color: var(--dark-color, rgba(34, 31, 32, 1));
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.4px;
}